.list {
    flex: 1 1 calc(33% - 20px);
    box-shadow: 0px 0px 1px 1px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
    overflow: hidden;
    background-color: #fff;
    transition: transform 0.3s ease;
    margin: 10px;
}
.list-content {
    padding: 15px;
    text-align: justify;
}
.list-content h6 {
    font-size: 1.2em;
    margin: 0 0 8px;
}
.list-content p {
    color: #555;
    margin: 0;
    font-size: 12px;
}
.list-details {
    flex: 1;
}
.announceBuy, .announceRent {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}
.announceBuy .list:hover, .announceRent .list:hover, .logo:hover {
    transform: scale(1.05);
}
.announceBuy a, .announceRent a{
    text-decoration: none;
    color: inherit; 
}
.carousel {
    display: flex;
    justify-content: space-around; 
    align-items: center; 
    gap: 15px; 
    padding: 10px 0;
}
.list-room{
    display: flex;
    justify-content: space-around; 
    align-items: center; 
    gap: 10px; 
    padding: 20px 0;
}
.icon {
    display: flex;
    align-items: center; 
    gap: 5px; 
    font-size: 12px;
    line-height: 1; 
    margin: 0;
    padding: 0;
}
.icon img {
    height: 20px;
    max-width: 45%;
    max-height: 45%;
}
.icon p {
    max-width: 45%;
    margin: 0;
    padding: 0;
    font-size: 14px;
    white-space: nowrap;
}
.row {
    margin: 50px;
    max-width: 100%;
    margin-bottom: 80px; /* Adjust this value as needed */
}
.column {
    flex: 1; /* Allow columns to grow equally */
    max-width: 45%; /* Ensure they don't exceed this width */
}
.announceBuy .list-image, .announceRent .list-image {
    max-width: 100%;
    height: auto;
    display: block;
}
.photosHouse {
    width: 100%; /* Ensure it takes full width */
    overflow: hidden; /* Prevent overflow issues */
}
.photosHouse img {
    width: 100%; /* Responsive width */
    height: auto; /* Maintain aspect ratio */
    max-width: 100%; /* Optional max width */
    cursor: pointer;
}
.announce {
    flex: 1 1 45%;
    box-sizing: border-box;
    background-color: #f9f9f9;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}
.slick-prev, .slick-next {
    display: none !important;
}
