.modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1050; /* Sit on top */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgba(0, 0, 0, 0.5); /* Black w/ opacity */
}
.modal-dialog {
    max-width: 50%; /* Set a max-width for the modal */
    margin: 1.75rem auto; /* Center the modal */
}
.modal-content {
    background-color: #fff; /* White background */
    border: none; /* No border */
    border-radius: 5px; /* Rounded corners */
    align-items: center;
}
.modal-header {
    border-bottom: none; /* No border on the header */
}
.modal-title {
    margin: 0; /* Remove default margin */
}

/* Results Modal */
#resultsModal {
    display: none;
    position: fixed;
    z-index: 1050;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.6);
    overflow-y: auto;
}

#resultsModal .modal-content-search {
    max-width: 25%;
    margin: 10% auto;
    padding: 20px;
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.modal-body-search {
    padding: 20px;
}

.modal-body-search h2 {
    font-size: 24px;
    margin-bottom: 15px;
}

/* Close button style for results modal */
.close {
    position: static;
    color: #333;
    font-size: 24px;
    cursor: pointer;
}
