:root {
    --header-height: 180px; /* header size to be adapt */
}

.carousel, .main, .section {
    padding-top: var(--header-height)!important;
}

body {
    height: 1000px;
    font-family: Arial, sans-serif;
    background-color: #f7f7f7;
    color: #333;
    padding-bottom: 60px;
}
.header {
    text-align: center; /* Center the h2 */
    padding: 20px 0; /* Add some vertical space around the header */
}
.nav-container {
    display: flex; /* Enable flexbox */
    justify-content: space-around; /* Space items around */
    align-items: center; /* Align items vertically centered */
    padding: 10px; /* Add some padding if needed */
}

.nav-list {
    list-style-type: none; /* Remove default list styling */
    padding: 0; /* Remove padding */
    margin: 0; /* Remove margin */
    display: flex; /* Display items in a row */
}

.nav-list li {
    display: flex; /* Flex for li elements */
    align-items: center; /* Center the content vertically */
    margin: 0 100px 0 50px;
}
.nav-list li:not(:last-child), .nav-list li:not(:last-child) a , h2{ 
    font-size: 25px;
    text-transform: uppercase;
    color: #fff;
}
/* Optional styles for logo and search */
.logo {
    height: 50px; /* Adjust logo height */
}

#searchInput {
    margin-right: 5px; /* Space between input and button */
}


.search-container {
    display: flex; /* Use flexbox for search input and button */
    align-items: center; /* Center items vertically */
}
#searchInput {
    padding: 5px; /* Add some padding */
    margin-right: 5px; /* Space between input and button */
}
.header #searchInput {
    padding: 5px;
    border: 1px solid #ccc;
}
.header #searchTerm {
    margin-left: 5px;
    padding: 5px 10px;
    border-radius: 5px;
    border: none;
    color: #324b9f;
    font-weight: bold;
    cursor: pointer;
}
.header #searchTerm:hover {
    transform: scale(1.05);
    box-shadow: 0px 0px 1px 1px rgba(0, 0, 0, 5.5);
}
.logo{
    height: 70px;
    width: auto;
}
.footer{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    color: #fff;
    background-color: #324b9f;
    padding: 10px;
    column-count: 2; /* new */
    column-width: auto;/* new */
    text-align: justify;/* new */
    vertical-align:text-bottom;/* new */
    position: fixed; /* Change to fixed */
    bottom: 0; /* Sticks the footer to the bottom */
    width: 100%; /* Full width */
}
.footer a {
    color: #fff;
    padding-bottom: 2px;
}
h1, h2, h3, h4, h5, h6 {
    text-align: center;
    margin: 20px 0;
}
button:not(.close) {
    width: 120px;
    height: 40px;
    border-radius: 8px;
    background-color: #324b9f;
    color: #fff;
    border: none;
    margin: 10px;
    cursor: pointer;
    text-align: center;
}
button:hover:not(.close) {
    transform: scale(1.05);
    box-shadow: 0px 0px 1px 1px rgba(0, 0, 0, 5.5);
}
.button-container {
    display: flex;
    justify-content: center;
    margin: 10px 30px;
}

/* # bookEmail*/
.bookEmail {
    display: flex;
    flex-direction: column;
    align-items: center; /* Centers the content horizontally */
    justify-content: center; /* Centers the content vertically */
    margin: 150px 0; /* Adds space around the div */
    padding: 20px; /* Adds inner space */
    border: 1px solid #ccc; /* Optional: Add a border */
    border-radius: 8px; /* Optional: Round the corners */
    background-color: #f9f9f9; /* Optional: Background color */
}
.bookEmail input {
    width: 90%; /* Full width with some margin */
    max-width: 400px; /* Limit the max width */
    padding: 10px; /* Inner padding for inputs */
    margin: 5px 0; /* Space between inputs */
    border: 1px solid #ccc; /* Border for inputs */
    border-radius: 4px; /* Round corners */
}
.bookEmail h5 {
    margin: 10px 0; /* Space above and below */
}
.contact-info {
    display: flex; /* Use flexbox to arrange items in a row */
    align-items: center; /* Center items vertically */
}
.contact-info input {
    width: 177px; /* Set a fixed width or adjust as needed */
    margin: 0 5px; /* Add space between inputs */
    padding: 10px; /* Inner padding for inputs */
    border: 1px solid #ccc; /* Border for inputs */
    border-radius: 4px; /* Round corners */
}
.contact-info span {
    margin: 0 5px; /* Space around the 'or' text */
}
.header {
    background-color: #324b9f;
}
.bookEmail button {
    background-color: #324b9f; /* Green background */
    color: #fff; /* White text */
    padding: 10px 15px; /* Some padding */
    border: none; /* Remove borders */
    border-radius: 4px; /* Round corners */
    cursor: pointer; /* Pointer cursor on hover */
    margin-top: 10px; /* Space above the button */
}
.bookEmail button:hover{
    transform: scale(1.05);
    background-color: #324b9f; /* Darker green on hover */
    box-shadow: 0px 0px 1px 1px rgba(0, 0, 0, 5.5);
}

.header #searchInput{
    border-radius: 4px; /* Round corners */
}
